{# generated via manage create_html_scripts #}
{% load i18n %}

<div class="mt-5 mb-10 flow-root rounded-sm border border-gray-400 py-3 shadow-xs">
  <dl class="-my-3 divide-y divide-gray-200 text-sm">
    <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
      <dt class="text-gray-700 text-left md:text-right">{% trans "what"|capfirst %}</dt>
      <dd class="font-medium text-gray-900 sm:col-span-2">
        {{ event }}
      </dd>
    </div>
    <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
      <dt class="text-gray-700 text-left md:text-right">{% trans "spots"|capfirst %}</dt>
      <dd class="font-medium text-gray-900 sm:col-span-2">
        {{ event.reserved_spots }}/{{ event.free_spots }}
      </dd>
    </div>
    <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
      <dt class="text-gray-700 text-left md:text-right">{% trans "when"|capfirst %}</dt>
      <dd class="font-medium text-gray-900 sm:col-span-2">
        {{ event.starting_at }}
      </dd>
    </div>
    <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
      <dt class="text-gray-700 text-left md:text-right">{% trans "pricing"|capfirst %}</dt>
      <dd class="font-medium text-gray-900 sm:col-span-2">
        {% if event.current_price_matrix %}
          {% include event.current_price_matrix.detail_template with pricematrix=event.current_price_matrix event=event %}
        {% else %}
          {% trans "no pricing set"|capfirst %}
        {% endif %}
      </dd>
    </div>
  </dl>
</div>
