{# generated via manage create_html_scripts #}
{% extends 'card.html' %}

{% load i18n qr_code %}

{% block card_title %}
  {{ card.event }}
{% endblock card_title %}
{% block card_details %}
  <svg xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 20 20"
       fill="currentColor"
       class="size-5">
    <path d="M3.5 2.75a.75.75 0 0 0-1.5 0v14.5a.75.75 0 0 0 1.5 0v-4.392l1.657-.348a6.449 6.449 0 0 1 4.271.572 7.948 7.948 0 0 0 5.965.524l2.078-.64A.75.75 0 0 0 18 12.25v-8.5a.75.75 0 0 0-.904-.734l-2.38.501a7.25 7.25 0 0 1-4.186-.363l-.502-.2a8.75 8.75 0 0 0-5.053-.439l-1.475.31V2.75Z" />
  </svg>
  <div class="mt-1.5 sm:mt-0">
    <p class="text-gray-500">{% trans 'persons'|capfirst %}: {{ card.total_amount }}</p>
    <p class="font-medium">{% trans 'status'|capfirst %}: {{ card.status }}</p>
  </div>
{% endblock card_details %}
{% block card_footer %}
  {% if card.requester_confirmed_on %}
    {% trans 'requester confirmed on'|capfirst %}: {{ card.requester_confirmed_on }}
  {% else %}
    <button class="group mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-{{ TAILWIND_THEME_COLORS.primary }} px-5 py-3 text-white transition focus:ring-3 focus:ring-yellow-400 focus:outline-hidden sm:mt-0 sm:w-auto"
            hx-post="{% url 'reservations_htmx:requester_confirm_reservation' %}"
            hx-vals='{"reservation_public_key": "{{ card.public_key }}"}'>Confirm</button>
  {% endif %}
  {% if is_organization_employee %}
    {% if card.organization_confirmed %}
      {% trans 'organization confirmed on'|capfirst %}: {{ card.latest_organization_status.created_on }}
    {% else %}
      <button class="group mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-{{ TAILWIND_THEME_COLORS.primary }} px-5 py-3 text-white transition focus:ring-3 focus:ring-yellow-400 focus:outline-hidden sm:mt-0 sm:w-auto"
              hx-post="{% url 'reservations_htmx:organization_confirm_reservation' %}"
              hx-vals='{"reservation_public_key": "{{ card.public_key }}"}'>Confirm</button>
    {% endif %}
  {% endif %}
{% endblock card_footer %}
{% block card_actions %}
  {% include 'staff.html' with obj=card %}
{% endblock card_actions %}
