{# generated via manage create_html_scripts #}
{% extends 'page.html' %}

{% load i18n %}

{% block content %}
  {{ event }}
  <button class="w-full inline-flex items-center gap-2 rounded-sm border border-lime-500 bg-lime-500 px-8 py-3 text-white hover:bg-transparent hover:text-gray-600 focus:ring-3 focus:outline-hidden"
          hx-get="{% url 'reservations_htmx:reservation' event.public_key %}"
          hx-target="#{{ event.html_public_key }}"
          hx-swap="innerHTML">
    <span class="text-sm font-bold">{% trans 'subscribe'|capfirst %}</span>
    <svg class="size-5 rtl:rotate-180"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
    </svg>
  </button>
  <div id="{{ event.html_public_key }}">{% include event.detail_template %}</div>
{% endblock content %}
