{% load i18n %}

{{ message }}.
<fieldset {{ form_state }}>
  <form class="mt-5"
        hx-post="{% url 'reservations_htmx:finish_reservation' event_reservation.public_key %}"
        hx-target="#{{ event_reservation.html_public_key }}">
    <div>
      <label for="UserEmail" class="block text-xs font-medium text-gray-700">
        {% trans 'please, provide your email address for your confirmation mail'|capfirst %}.
      </label>
      <input type="email"
             id="confirmation_email_address"
             name="confirmation_email_address"
             value="{{ request.user.email }}"
             placeholder="{{ request.user.email|default:'your-email@address.com' }}"
             class="mt-1 p-2 bg-neutral-50/50 w-full rounded-md border-gray-200 shadow-xs" />
    </div>
    <div>
      <label for="customer_telephone"
             class="block text-xs font-medium text-gray-700">
        {% trans 'please, provide your telephone number in case something went wrong'|capfirst %}.
      </label>
      <input type="tel"
             id="customer_telephone"
             name="customer_telephone"
             value="{{ request.user.primary_telephone_number|default_if_none:'' }}"
             placeholder="+32479121212"
             class="mt-1 p-2 bg-neutral-50/50 w-full rounded-md border-gray-200 shadow-xs" />
    </div>
    <div>
      <label for="customer_comment"
             class="block text-xs font-medium text-gray-700">
        {% trans 'do you have any additional comments'|capfirst %}?
      </label>
      <textarea name="customer_comment"
                id="customer_comment"
                class="mt-1 p-2 bg-neutral-50/50 w-full rounded-md border-gray-200 shadow-xs"
                placeholder="{% trans 'put your message here'|capfirst %}..."
                id=""
                rows="4"></textarea>
    </div>
    <button type="submit"
            class="mt-5 inline-flex w-full items-center gap-2 rounded-sm border border-gray-600 bg-gray-600 px-8 py-3 text-white hover:bg-transparent hover:text-{{ TAILWIND_THEME_COLORS.primary }} focus:ring-3 focus:outline-hidden">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <span class="text-sm font-medium">{% trans 'request reservation'|upper %}</span>
    </button>
  </form>
</fieldset>
