{# generated via manage create_html_scripts #}
{% load i18n %}

{% if event_reservation %}
  <div class="text-left">
    <div hx-trigger="load"
         hx-get="{% url 'events_htmx:event_info' event_reservation.event.public_key %}"></div>
    <div hx-trigger="load"
         hx-get="{% url 'events_htmx:event_updates' event_reservation.event.public_key %}"></div>
    <div>
      {% if event_reservation.event and event_reservation.event.applicable_catering %}
        <button class="group flex items-center justify-center overflow-hidden rounded-md bg-{{ TAILWIND_THEME_COLORS.primary }} px-4 py-3 text-white transition-all duration-300 ease-in-out focus:outline-none focus:ring-3 focus:ring-yellow-400 cursor-pointer sm:w-auto w-12"
                hx-get="{% url 'catering_htmx:catering' event_reservation.event.applicable_catering.public_key %}"
                hx-swap="outerHTML">
          <span class="text-sm font-bold"></span>
          <i data-lucide="utensils-crossed" class="size-5 shrink-0"></i>
          <!-- Expanding label -->
          <span class="whitespace-nowrap text-sm font-semibold transition-all duration-300 ease-in-out sm:opacity-0 sm:group-hover:opacity-100 sm:max-w-0 sm:group-hover:max-w-[200px] sm:group-hover:ml-2 overflow-hidden">
            {% trans 'catering'|upper %}
          </span>
        </button>
      {% endif %}
    </div>
    <h1 class="text-4xl text-gray-300 sm:text-5xl lg:text-6xl">{% trans 'make your reservation'|capfirst %}</h1>
    <div id="{{ event_reservation.html_public_key }}">
      <form hx-post="{% url 'reservations_htmx:event_reservation_total_price' event_reservation.public_key %}"
            hx-target="#{{ event_reservation.html_id }}.total.price"
            hx-trigger="load, change delay:500ms">
        <ul style="text-align: left;">
          {% for reservationline in event_reservation.lines.all %}
            <li>{% include reservationline.detail_template %}</li>
          {% endfor %}
        </ul>
      </form>
      <div style="text-align: left;">
        <div class="mt-5 font-bold">
          <span id="{{ event_reservation.html_id }}" class="total price">Loading total price</span>
        </div>
      </div>
    </div>
  {% endif %}
  {% include 'staff.html' with obj=event_reservation %}
</div>
