{# generated via manage create_html_scripts #}
{% load i18n %}

{% if card %}
  {% if card.primary_domain %}
    <a class="text-gray-500 transition hover:text-gray-500/75"
       href="{{card.primary_domain.url}}">{% trans 'website'|capfirst %}</a>
  {% endif %}
  <a class="text-gray-500 transition hover:text-gray-500/75"
     href="{% url 'organizations:concepts' card.slug %}">{% trans 'concepts'|capfirst %}</a>
  <a class="text-gray-500 transition hover:text-gray-500/75"
     href="{% url 'organizations:events' card.slug %}">{% trans 'events'|capfirst %}</a>
{% endif %}
{% if active_organization.slug %}
  <li>
    <a class="text-gray-500 transition hover:text-gray-500/75"
       href="{% url 'organizations:organization' active_organization.slug %}">{{ active_organization.name }}</a>
  </li>
  <li>
    <a class="text-gray-500 transition hover:text-gray-500/75"
       href="{% url 'organizations:concepts' active_organization.slug %}">{% trans 'concepts'|capfirst %}</a>
  </li>
  <li>
    <a class="text-gray-500 transition hover:text-gray-500/75"
       href="{% url 'organizations:events' active_organization.slug %}">{% trans 'events'|capfirst %}</a>
  </li>
  {% if request.user.is_staff %}
    <li>
      <a class="text-gray-500 transition hover:text-gray-500/75"
         href="{% url 'organizations:import_resengo_excel' active_organization.slug %}">Import Resengo</a>
    </li>
  {% endif %}
{% endif %}
