{% load i18n %}

<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <select name="language" onchange="this.form.submit()">
    {% get_current_language as CURRENT_LANGUAGE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for lang in languages %}
      <option value="{{ lang.code }}"
              {% if lang.code == CURRENT_LANGUAGE %}selected{% endif %}>
        {{ lang.name_local }} ({{ lang.name }})
      </option>
    {% endfor %}
  </select>
</form>
