{% load i18n %}

<div class="overflow-x-auto mt-15">
  <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow">
    <thead class="bg-gray-100 text-gray-700 text-left text-sm uppercase">
      <tr>
        <th class="px-6 py-3">{{ row_list_title }}</th>
      </tr>
    </thead>
    <tbody class="text-sm text-gray-800 divide-y divide-gray-200">
      {% for row_list_item in rows %}
        <!-- {% cycle 'bg-white' 'bg-gray-50' as bg %} -->
        {% include row_list_item.row_list_item_template %}
        {% include 'staff.html' with obj=row_list_item %}
      {% endfor %}
    </tbody>
  </table>
</div>
