{# generated via manage create_html_scripts #}
{% extends 'page.html' %}

{% load i18n slider_tags static %}

{% block banner %}
  <div class="z-10 relative w-full">
    <!-- Banner Image -->
    {% if concept.images.count > 0 %}
      <!-- Parent must have a defined height -->
      <div class="w-full h-screen">{% image_slider concept %}</div>
    {% else %}
      <img alt=""
           {% if concept.card_image_url %} src="{{ concept.card_image_url }}" {% else %} src="{% static 'images/cards/events/concept/brunch.jpg' %}" {% endif %}
           class="w-full max-h-screen object-cover" />
    {% endif %}
    <!-- Gradient Overlay -->
    <div class="z-50 absolute inset-0 bg-gradient-to-b from-black/10 to-black/40"></div>
    <!-- Centered Banner Text -->
    <div class="z-100 absolute drop-shadow-lg inset-0 flex flex-col items-center justify-center text-center text-white px-4 animate-in fade-in duration-1000">
      <h1 class="text-4xl md:text-6xl font-bold animate__animated animate__fadeInDown">{{ concept|safe }}</h1>
      <p class="mt-4 text-lg md:text-2xl drop-shadow-lg animate__animated animate__fadeInUp animate__delay-1s">
        {{ concept.slogan|safe }}
      </p>
      <div class="p-4 flex gap-2">{% include concept.action_menu with action_menu=concept %}</div>
    </div>
  </div>
{% endblock banner %}
{% block content %}
  <!-- Description card: overlaps banner slightly, but adapts on small screens -->
  <div class="relative z-50 mx-auto -mt-[20vh] max-w-5xl rounded-xl bg-white px-4 py-8 text-center shadow-lg sm:-mt-[10vh] md:-mt-[30vh] md:px-12">
    <p class="mb-5 mt-5 text-xl font-bold">{{ concept }}</p>
    {{ concept.card_description|safe|linebreaksbr }}
    {% if concept.upcoming_events.count > 0 %}
      {% include 'events/event/row_list.html' with row_list_items=concept.upcoming_events %}
    {% endif %}
  </div>
{% endblock content %}
