{# generated via manage create_html_scripts #}
{% load i18n %}

{% if action_menu.send_notification %}
  <button hx-get="?popup"
          hx-target=".modal.content"
          class="group flex items-center justify-center overflow-hidden rounded-md bg-{{ TAILWIND_THEME_COLORS.primary }} px-4 py-3 text-white transition-all duration-300 ease-in-out focus:outline-none focus:ring-3 focus:ring-yellow-400 cursor-pointer sm:w-auto w-12">
    <i data-lucide="mail" class="size-5 shrink-0"></i>
    <!-- Expanding label -->
        <span class="whitespace-nowrap text-sm font-semibold transition-all duration-300 ease-in-out sm:opacity-0 sm:group-hover:opacity-100 sm:max-w-0 sm:group-hover:max-w-[200px] sm:group-hover:ml-2 overflow-hidden">
      {% trans 'show notification'|upper %}
    </span>
  </button>
{% endif %}
